.card{
	width: 280px;
	box-shadow: 4px 12px 20px -8px;
	border-radius: 8px;
	background-color: #fefefe;
}

.cardName{
	padding: 0;
	font-size: 24px;
	margin-bottom: 8px;
	margin-top: 0;
}

.cardInfo{
	text-align: center;
}
